
.gitattributes
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/custom.md
.github/ISSUE_TEMPLATE/feature_request.md
automated-self-serving-system-master/__pycache__/DrinkProfile.cpython-310.pyc
automated-self-serving-system-master/__pycache__/EmbeddedKeyboard.cpython-310.pyc
automated-self-serving-system-master/README.md
LICENSE
phone_app_code/.gitignore/bingCsBros/bingCsBros/DataModel.xcdatamodeld/DataModel.xcdatamodel/$/translations/zh-CN/content/desktop/.log.hp
README.md
Senior Design/CAMOutputs/DrillFiles/drills.xln
Senior Design/CAMOutputs/GerberFiles/gerber_job.gbrjob
Senior-Design-Projekt-master_6379b3ec4e5179297a78deb46d1f6ed6f3460b56_zip.exe
Senior_Design_Poster.pptm
